*.py[cod]

# Project metafiles
.project
.pydevproject

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Backup file, editors
*.swp
*~
